{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 119,
    "overrides": [
        {
          "files": ["*.html"],
          "options": {
            "parser": "html"
          }
        }
      ]
}

