body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: grey;

}
#carrousel{
    width: 2200px;
    height: 400px;
    border: solid 4px #fff;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
}
#container{
    width: 2400px;
    height: 400px;
    display: flex;
    align-items: center;
}
.photo{
    width: 400px;
    height: 350px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    background-size: cover;
}
.bouton{
    position: absolute;
    width: 100px;
    cursor: pointer;
    top: 40%;
    
}
#gauche{
    left: 0;
    opacity: 0.3;
    transition: all 0.5s ease;
    transform: rotate(180deg);
    
}
#droite{
    right: 0;
    opacity: 0.3;
    transform: rotate(0deg);
    transition: all 0.5s ease;
}
#gauche:hover{
    transform: rotate(180deg) scale(1.2);
    opacity: 1;
    transition: all 0.5s ease;
}
#droite:hover{
    transform: scale(1.2);
    opacity: 1;
    transition: all 0.5s ease;
}


