#body{
    max-width: 1920px;
    margin: auto;
    padding: 0;
    background-color: black;

}

/* Header */

.header {
    background-color: #62757F;
    color: #fff;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul {
    list-style: none;
    margin: 0 150px;
    padding: 0;
    display: flex;
}
.nav li {
    margin-right: 40px;
}
.nav a {
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.nav a:hover {
    border-bottom: solid 3px white;
}

/* section best movie */

#best-movie{
    height: 400px;
    margin-top: 50px;
    background-color: #ffcc00;
}

/* sections carrousels */
.section{
    width: 100%;
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    
}
.carrousel{
    width: 75%;
    height: 300px;
    padding-bottom: 20px;
    overflow: hidden;
}
h2{
    color: aliceblue;
    margin-left: 20px;
    text-align: center;
}
.container{
    height: 80%;
    display: flex;
    align-items: center;
}
.photo{
    width: 3%;
    height: 90%;
    margin: 0 16px;
    display: inline-block;
    background-size: cover;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}
.button{
    position: absolute;
    width: 80px;
    opacity: 0.3;
    cursor: pointer;
    top: 50%;
    transition: all 0.5s ease;
}
.button-left{
    left: 140px;
    transform: rotate(180deg);
}
.button-right{
    right: 140px;
    transform: rotate(0deg);
}
.button:hover{
    transform: scale(1.3);
    opacity: 1;
    transition: all 0.5s ease;
}
.button-left:hover{
    transform: rotate(180deg) scale(1.2);
}
.photo:hover{
    cursor: pointer;
    transform: scale(1.2);
    border-radius: 0.5rem;
    transition: all 0.5s ease;
}

/* footer */

#footer {
    background-color: #62757F;
    padding: 30px;
    text-align: center;
}
#footer img{
    width: 150px;
    
}


