#body{
    max-width: 1920px;
    margin: auto;
    padding: 0;
    background-color: black;

}

/* Header */

.header {
    background-color: #62757F;
    color: #fff;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul {
    list-style: none;
    margin: 0 150px;
    padding: 0;
    display: flex;
}
.nav li {
    margin-right: 40px;
}
.nav a {
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.nav a:hover {
    border-bottom: solid 3px white;
}

/* section best movie */

#best-movie{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    
    align-items: center;
}
.movie-info{
    width: 40%;
}
#best-movie h2{
    font-size: 64px;
    text-align: start;
    margin: 0;
}
#best-movie img{
    width: 20%;
    border: solid 10px #fff;
}
#best-movie p{
    font-size: 24px;
    color: #fff;
}
#best-movie button{
    background-color: #fff;
    border-radius: 5px;
    margin-top: 40px;
    padding: 5px 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: all 0.3s ease;
}
#best-movie button img{
    width: 24px;
}
#best-movie button:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

/* sections carrousels */

.section{
    width: 100%;
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    
}
.carrousel{
    width: 55%;
    height: 450px;
    padding-bottom: 20px;
    overflow: hidden;
}
h2{
    font-size: 32px;
    color: aliceblue;
    margin-bottom: 70px;
    text-align: center;
}
.container{
    height: 70%;
    display: flex;
    align-items: center;

}
.photo{
    width: 200px;
    color: white;
    font-size: 20px;
    margin: 0 25px;  
    border-radius: 1rem;
    transition: all 0.8s ease;
}
.button{
    position: absolute;
    width: 80px;
    opacity: 0.3;
    cursor: pointer;
    top: 50%;
    transition: all 0.5s ease;
}
.button-left{
    left: 220px;
    transform: rotate(180deg);
}
.button-right{
    right: 220px;
    transform: rotate(0deg);
}
.button:hover{
    transform: scale(1.3);
    opacity: 1;
    transition: all 0.5s ease;
}
.button-left:hover{
    transform: rotate(180deg) scale(1.2);
}
.photo:hover{
    cursor: pointer;
    transform: scale(1.2);
    border-radius: 0.5rem;
    transition: all 0.5s ease;
}

/* footer */

#footer {
    margin-top: 50px;
    background-color: #62757F;
    padding: 20px;
    text-align: center;
}
#footer img{
    width: 100px;
    
}

/* fenetre modale */

.fa-xmark{
	position: absolute;
	font-size: 40px;
	top: 20px;
	right: 20px;
    transition: all 0.5s ease;
}
.fa-xmark:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
}
#title-modal{
	font-family: 'Work Sans',sans-serif;
	color: black;
	font-size: 26px;
}
.modal-container{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.modal-container.active{
	display: block;
}
.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #333333d3;
}
.modal{
	position: absolute;
    border-radius: 10px;
	text-align: center;
	padding: 50px;
	min-width: 500px;
	max-width: 500px;
    background-color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.modal-body{
	display: flex;
	justify-content:flex-start;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-bottom: 30px;
}




